

.md-typeset figure {
    display: flow-root;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.md-typeset figure img {
    display: block;
    margin:auto auto;
}


/* légende des figures */

.md-typeset figcaption {
    color: rgba(0, 0, 0, 0.513);
    font-style: normal;
    font-size: x-small;
    font-weight: lighter;
    margin: 1em auto 1em;
    max-width: 24rem;
}




/* l'écart entre les lignes des listes est plus faibles que pour des lignes normales et agrandisement de la marge à gauche */
.md-typeset ol li, .md-typeset ul li{
    margin-left: 2.00em;
    line-height: 1.1;
}


/*fait en sorte que le texte dans les admonitons soit de la même taille que dans le reste du doc*/
.md-typeset .admonition, .md-typeset details {
    color: var(--md-admonition-fg-color);
    font-size: .8rem;
}

/*légende de la même couleur même si c'est un lien*/
.md-typeset figcaption a {
    color:  rgba(0, 0, 0, 0.513);
    word-break: break-word;
}

/*couleur de fond bouton page personnalisation*/
.md-typeset .mdx-switch button > code {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    display: block;
}



/*disposition des liens pdf vers les sujets et corrigés*/
.md-typeset .lien_pdf_sujet {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}

.md-typeset .lien_pdf_sujet > a {
    margin-right: 20px;
}